.banner__titulo{
    color: #FFF9F1;
    font-family: 'Outfit', sans-serif;
    font-weight: 500;
    position: absolute;
    left: 50%;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 30);
    top: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    width: 100%;

}

@media screen and (min-width:0) {

    .banner__titulo{
       font-size: 3.5rem;
     }
     
 }

@media screen and (min-width:768px) {

    .banner__titulo{
        font-size: 5rem;
     }
     
 }