.receta__boton{
    background:#BB001A;
    border: none;
    border-radius: 5px;
    color: #FFF9F1;
    padding: 1rem;
    transition: all .1s ease-in-out ;
}

.receta__boton:hover{
    cursor: pointer;
    background: #9f1010;
}

