.receta{
    background: #FFFDF0;
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;

    filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.80));
    border-radius: 10px;

}

@media screen and (min-width:0) {

    .receta{
        margin-right: 1rem;
        width: 100%;
     }
     
 }

@media screen and (min-width:768px) {

    .receta{
        margin-right: 2.5rem;
        width: calc(33% - 2.5rem);
     }
     
 }

@media screen and (min-width:962px) {

    .receta{
        margin-right: 5rem;
        width: calc(25% - 5rem);
     }
     
 }